*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;
}



body{
    font-family: 'Plus Jakarta Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--body);
}

.btn{
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary{
    padding: 12px 20px;
}

.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary-dark);
}

.btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:hover{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

/*****************  NAVBAR  ********************/

.navbar .btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar{
    padding: 32px 0;
}

.nav-link{
    margin-left: 41px;
    font-size: 18px;
}

.navbar-nav .nav-link.active{
    font-weight: bold;
    color: var(--black);
}

/* calendário */

h1{
    font-size: 40px;
    color: #fff;
}

p{
    color: #fff;
}

input, textarea, select{
    width: 100%;
    background-color: #141824;
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px;
    resize: none;
    color: #fff;
    border-radius: 10px;
}

option{
    cursor: pointer;
}

.bf-body-box{
    padding: 20px;
}

.bf-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.bf-col-12{
    width: 100%;
}

.bf-col-6{
    width: 48%;
}

.bf-col-3{
    width: 30%;
}

.bf-head{
    text-align: center;
    background-color: #141824;
    padding: 20px 10px;
}

.bf-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 20px 16px;
    background-color: #1d2228;
    cursor: pointer;
}

.bf-body{
    width: 500px;
    background-color: #1d1d2c;
}

@media screen and (max-widht:600px){
    .bf-row{
        flex-direction: column;
        padding: 0;
    }
    .bf-col-12{
        width: 100%;
        padding: 10px 0;
    }
    
    .bf-col-6{
        width: 100%;
        padding: 10px 0;
    }
    
    .bf-col-3{
        width: 30%;
        padding: 10px 0;
    }

    .bf-container{
        padding: 50px 16px;
    }
}