/* Estilos para o formulário */

.container {
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.container h2 {
    color: #ffffff;
    text-align: center;
}

.container .input-field {
    margin-bottom: 20px;
}

.container .input-field i {
    color: #007bff;
}

.container .btn {
    background-color: #007bff;
    color: #fff;
}

.container .btn:hover {
    background-color: #0056b3;
}